@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Roboto:wght@300&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    --main-color: #fff;
    --main-text-color: #302F53;
    --main-font: 'Roboto', sans-serif;
    --tab-font: 'IBM Plex Mono', monospace;
    --title-font: 'Varela Round', sans-serif;
    --title-color: #000;
    --link-color: #000;
    --glass-color: rgba(202, 149, 209, 0.5) 48.57%, rgba(130, 189, 250, 0.5) 97.18%;
    --second-color: #CA95D1;
    --footer-color: ;
    font-family: var(--main-font);
    font-size: .978rem;
}

body.dark{
    --main-color: #000;
    --main-text-color: #D8D8D8;
    --title-color: #fff;
    --link-color: #d8d8d8;
    --second-color: #FE99B5;
    --glass-color: rgba(202, 149, 209, 0.5) 48.57%, rgba(95, 55, 146, 0.5) 97.18%;
}

/*--------- Navbar ---------*/

.navbar{
    position: fixed;
    z-index: 100;
    height: 3rem;
    background: #f4f1f11e;
    backdrop-filter: blur(50px);
}
.nav-link{
    color:#CA95D1;
    transition: 0.5s;
}
.nav-link:hover{
    color:#82BDFA;
}

.botao {
    margin-top: 0.5rem;
    display: inline-block;
    padding: 0.5rem 0.9rem;
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--title-font);
    font-weight: bold;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
  }

.botao .btn-contact-text{/*texto do btn*/
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    z-index: 0;
    background-image: linear-gradient(to left, #CA95D1, #82BDFA); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

.botao:before {
    content: '';
    background-image: linear-gradient(to left, #CA95D1, #82BDFA);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
  }

.botao:after {
    content: '';
    background: var(--main-color);
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
  }

 /* #change-theme{

  }

  .change-theme{

  }*/

  /*---------- Home ----------*/

.section__home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.glass{
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 30rem;
    border-radius: 10px;
    background: radial-gradient(89.52% 212.93% at 13.38% 10.48%, var(--glass-color));
    backdrop-filter: blur(4px);
    box-shadow: 0px 2px #96aeffa6;
    border: 1px solid #96aeff86;
}

.tab{
    margin-top: 5rem;
    margin-left: 5rem;
}

.botao2 {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--title-font);
    font-weight: 600;
    overflow: hidden;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.botao2 .btn-download-text{/*texto do btn*/
    text-transform: uppercase;
    font-size: 16px;
    position: relative;
    z-index: 0;
    background-image: linear-gradient(to left, #CA95D1, #82BDFA); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.botao2:before {
    content: '';
    background-image: linear-gradient(to left, #CA95D1, #82BDFA);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.botao2:after {
    content: '';
    background: var(--main-color);
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    position: absolute;
    border-radius: 8px;
    z-index: -1;
    transition: 0.3s;
}


.botao2:hover{
    padding: 1.05rem 2.05rem;
}

#ola{
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
                /* cor | deslocamento-x | deslocamento-y */
    text-shadow:#76b0ef 1px 2px;
    margin-bottom: 2rem;
}

#nome{
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 3rem;
    background-image: linear-gradient(to bottom, #CA95D1, #82bdfa);
    margin-bottom: 2rem;
  /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
  background-clip: text;
  -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */

  /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
  -webkit-text-fill-color: transparent;

  /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
  color: black;
}

.wrapper{
    display: flex;
    margin-top: 2rem;

}

.social-media{
    margin-top: 2rem;
    margin-inline: 2rem;
}
.fa-brands, .fa-regular{
    margin-inline: 1rem;
    font-size: 1.8rem;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
    text-shadow: #76b0ef 1px 3px;
}
/* ==== efeito digitação ==== */

.linha{
    color: var(--main-color);
    text-shadow: #76b0ef 1px 1px;
    font-weight: 600;
    font-family: var(--tab-font);
    position: relative;
    overflow: hidden;
    font-size: 100%;
    white-space: nowrap;
    margin: 0;
    margin-top: 1rem;
    
}

.efeito-digitacao{
    position: relative;
    animation: maquinaDeEscrever 4s steps(50) 1s normal both,
    cursorDeTexto 500ms steps(80) infinite normal;
    
}
.efeito-digitacao1{
    position: relative;
    animation: maquinaDeEscrever 5s steps(50) 5s normal both,
    cursorDeTexto 500ms steps(80) infinite normal;

}


@keyframes maquinaDeEscrever{
    from{
        width: 0;
    }
    to{
        width: 30em;
    }
}

@keyframes cursorDeTexto{
    from{
        border-right-color: var(--title-color);
    }
    to{
        border-right-color: transparent;
    }
}
/* ==== About Me ==== */
.section__aboutMe{
    padding-top: 5rem;
    height: 60vh;
    margin-left: 7rem;
}

.description{
    display: flex;
}

.title{
    color: var(--title-color);
}

.card{
    width: 20rem;
    min-height: 15rem;
    display: flex;
    align-items: center;
    background: #c4c4c4be;
    backdrop-filter: blur(4px);
    margin: 2rem;
    box-shadow: 0px 2px #96aeffa6;
    border: 1px solid #96aeff86;
}

.cards{
    display: flex;
}


/* ==== footer ==== */
.waves{
    position: relative;
    width: 100%;
    height: 30vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}
.footer{
    padding-bottom: 1px;
}
/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0%{
        transform: translate3d(-90px, 0, 0);
    }
    100%{
        transform: translate3d(85px, 0, 0);
    }
}
@media (max-width: 768px){
    .waves{
        height: 100px;
        min-height: 40px;
    }
}

.tab2{
    margin-left: 3rem;
}
