@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Roboto:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    --main-color: #fff;
    --main-text-color: #302F53;
    --main-font: 'Nunito', sans-serif;
    --tab-font: 'IBM Plex Mono', monospace;
    --title-font: 'Varela Round', sans-serif;
    --title-color: #000;
    --link-color: #000;
    --glass-color: rgba(202, 149, 209, 0.5) 48.57%, rgba(130, 189, 250, 0.5) 97.18%;
    --second-color: #EF45FF;
    --gradient-effect: linear-gradient(-45deg,#00dffda2,#EF45FF,#ffe7f8);
    font-family: var(--main-font);
    font-size: .978rem;
    scroll-behavior: smooth;
}

body.dark {
    --main-color: #000;
    --main-text-color: #D8D8D8;
    --title-color: #fff;
    --link-color: #d8d8d8;
    --second-color: #FE99B5;
    --glass-color: rgba(202, 149, 209, 0.5) 48.57%, rgba(95, 55, 146, 0.5) 97.18%;
}

body{
    background: var(--main-color);
}

.title{
    color: var(--second-color);
    font-size: 2rem;
    font-weight: 600;
}
/*----header----*/


.navbar{
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    border-bottom: 0.5px solid rgba(255,255,255,0.5);
}

.navbar button{
    border: none;
}

.navbar-toggler:focus{
    outline: 0;
}

.navbar ul .nav-item .buttons a{
    border: none;
    border-bottom: 1px solid var(--second-color);
    background: #EF45FF;
    color: #fafafa;
    text-align: center;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link{
    font-weight: 600;
    
}
.navbar-nav .nav-item .nav-link:hover{
    font-weight: bolder;
    
}
.navbar ul .nav-item .buttons a:hover{
    color:#252934;
    background: #fafafa;
}

.navbar ul .nav-item .buttons i {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-left: .5rem;

}

/*----home----*/

.home-wrapper {
    height: 100vh;
    width: 100%;
    background: var(--gradient-effect);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}
.custom-shape-divider-bottom-1655127663 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

}

.custom-shape-divider-bottom-1655127663 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 104px;
}

.custom-shape-divider-bottom-1655127663 .shape-fill {
    fill: #FFFFFF;
    
}

.custom-shape-divider-bottom-1655127584 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 210px;
}

.custom-shape-divider-bottom-1655127584 .shape-fill {
    fill: #FFFFFF;
}
.glass-home {
    position: relative;
    z-index: 1;
    width: 50vw;
    height: 500px;
    padding: 40px 30px;
    margin: 28px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: 0.3s;
}

.glass-home:hover{
    transform: perspective(900px) rotateX(-5deg) rotateY(-2deg);
}
@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}


/*----About me----*/
.cards {
    display: grid;
    justify-content: center;
    grid-gap: 32px;
    padding: 20px;
    grid-template-columns: repeat(3, fit-content(20%));
}

@media (max-width: 1300px) {
    .cards {
        grid-template-columns: repeat(2, fit-content(50%));
    }


}

@media (max-width: 640px) {
    .cards {
        grid-template-columns: repeat(1, 100%);
    }

    .glass-home {
        width: 90vw;
    }
}
.card {
    position: relative;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    transition: 0.3s;
    height: 15rem;
}

.card:hover{
    background: #EF45FF;
}

.card:hover {
    transform: perspective(900px) rotateX(-10deg) translateY(-15px);/*parecido com o vanilla tilt*/
}

.card-title {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
    letter-spacing: 1px;
    padding: 1px 40px;
    height: 48px;
    color: #EF45FF;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    transition: 0.3s;
}

.card:hover > .card-title{
    color: #fff;
}
.card:hover > .card-content p{
    color: #fff;
    font-weight: bold;
}

.card:hover > .card-content li{
    color: #fff;
    font-weight: bold;
}


.card-text{
    margin-left: 4rem;
    margin-top: 2rem;
    color: #000;
    border-radius: 8px;
}

.list li {
    list-style: none;
    margin-left: 4rem;
}

/*----services----*/

#services {
    min-height: 100vh;
    font-size: 1.4rem;
    position: relative;

    z-index: 1;
}

#services a, #services a:visited {
    color:#00dffda2;
    text-decoration: none;
}

#services a:hover, #services a:active {
    color: #EF45FF;
}

    #services .project {
        margin: 1rem auto;
        width: 70%;
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }

        #services .project .proj-link {
            display: block;
            margin: auto 0;
            color: #252934;
            overflow: hidden;
            text-align: center;
            border-radius: 15px;
            border: 1px solid #fafafa;
            box-shadow: 0 20px 10px -10px #25293450;
            transition: 300ms;
        }

            #services .project .proj-link:hover {
                box-shadow: 0 50px 15px -30px #25293450;
                transform: scale(1.1);
            }

                #services .project .proj-link:hover > img {
                    filter: saturate(1);
                    transform: scale(1.05);
                }

 #services .project .project-image{
     width:100%;
     
     transition: all 300ms;
 }

#services .project .proj-details{
    margin:auto 0;
}

#services .proj-details .proj-tile{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight:bold;
    margin-bottom: 0;
    color: #EF45FF;
}

#services.proj-details small{
    font-style: italic;
}

#services .proj-details p{
    margin: 1rem 0;
}

#services .proj-details .buttons{
    display:flex;
    justify-content:space-between;
}

#services .proj-details .buttons a{
    width: 49%;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid #EF45FF;
    color:#252934;
    background: #fafafa;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
}

#services .proj-details .buttons a:hover{
    background: #EF45FF;
    color: #fafafa;
    border-bottom: 1px solid #fafafa;
}

#services .proj-details .buttons i {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-left: .5rem;

}

@media only screen and (max-width: 1149px) {
    #services .project {
        grid-template-columns: 1fr 2fr;
    }
}

@media only screen and (max-width: 949px) {
    #services .project {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 649px) {

        #services .proj-container {
            padding: 12rem 0 8rem;
        }

        #services .project {
            padding: 2rem 0;
        }

        .glass-wrapper, .glass-contact{
            width: 100vw;
        }
}

.services-wrapper .formore{
    margin-top: 4rem;
    text-align: center;

}

/* ---- Contact ----*/

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.glass-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.glass-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.27);
    border-radius: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    background: linear-gradient(-45deg,#00dffda2,#EF45FF,#ffe7f8);
    backdrop-filter: blur(5px);
    transition: 0.5s;
    height: 30vh;
    width: 40vw;
    animation: backgroundTransition 8s ease-in-out infinite;
    color: #fff;
    font-weight: 600;
}

.glass-wrapper .title{
    text-align: center;
    color: #fff;
}

.glass-contact:hover{
    transform: perspective(900px) rotateX(-5deg) rotateY(-2deg);

}