@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Roboto:wght@300&family=Varela+Round&display=swap');


/* ==== variables ==== */
body{
    --bg: url("");
    --color-block: #93D8F9;
    --color-footer: ;
    --color-main-text: #302F53;
    --title-color: #000;
    --name-color: #000;
    --btn-color: #FE99B5;
    --color-block-gradient: #bfe7fa;
    --btn-color-hover: #302F53;
    --text-btn-color-hover: #FE99B5;
    --text-btn-color: #302F53;
    --main-font: 'Roboto', sans-serif;
    --title-font: 'Varela Round', sans-serif;
    --first-font: 'IBM Plex Mono', monospace;
}

body.dark{
    --bg: url("");
    --color-block: #302F53;
    --color-footer: ;
    --color-main-text: #C4C4C4;
    --title-color: #000;
    --name-color: #fff;
    --btn-color: #302f53;
    --color-block-gradient: #474669;
    --btn-color-hover: #FE99B5;
    --text-btn-color-hover: #302F53;
    --text-btn-color: #FE99B5;
}

/* === Efeito Digitação === */

.linha{
    color: var(--name-color);
    font-family: var(--first-font);
    position: relative;
    overflow: hidden;
    font-size: 100%;
    white-space: nowrap;
}

.efeito-digitacao{
    animation: maquinaDeEscrever 7s steps(50) 1s normal both,
    cursorDeTexto 500ms steps(80) infinite normal;
    
}
.efeito-digitacao1{
    animation: maquinaDeEscrever 7s steps(50) 6s normal both,
    cursorDeTexto 500ms steps(80) infinite normal;

}
@keyframes maquinaDeEscrever{
    from{
        width: 0;
    }
    to{
        width: 32em;
    }
}
@keyframes cursorDeTexto{
    from{
        border-right-color: var(--main-title);
    }
    to{
        border-right-color: transparent;
    }
}

/*============================================================================================*/

